#sortable {
    list-style:none;
    padding:0;
}
#sortable {
    margin:0;
}
#sortable li {
    border:1px solid black;
    padding:10px;
    background:white;
}
.non_sortable_field {
    border:1px solid black;
    padding:10px;
    background:white;
    width:calc(100% - 22px);
    float:left;
}
#sortable li textarea {
    width:500px;
}
label {
}
#slider {
    width:200px;
    margin:10px;
}
#work_area {
    width:100%;
}
#work_area td {
    width:50%;
    vertical-align:top;
}
#result form {
    padding:0 15px;
}
#head_code {
    width:100%;
    height:100px;
}
#final_code {
    width:100%;
    height:400px;
}
#procent_details, #amount_details, #user_procent_default, #user_procent_manual, #url_redirect {
    display:none;
}
#pre_code {
    display:none;
}