php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_flag log_errors on
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off
php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
php_value error_log /home/s/scadens/dpos.space/public_html/PHP_errors.log
php_value error_reporting 2047
php_value log_errors_max_len 0


<Files "PHP_errors.log">
    Require all denied
</Files>

#php_flag display_startup_errors off
#php_flag display_errors off
#php_flag html_errors off
#php_value max_execution_time 120000

#редирект для поддомена api
RewriteCond %{HTTP_HOST} ^(www\.)?api\.dpos\.space$ [NC]
RewriteCond %{REQUEST_URI} !^/api/
RewriteRule ^(.*)$ api/$1 [L]

#редрект для поддомена viz
RewriteCond %{HTTP_HOST} ^(www\.)?viz\.dpos\.space$ [NC]
RewriteCond %{REQUEST_URI} !^/viz-manual/
RewriteRule ^(.*)$ viz-manual/$1 [L]

#редрект для поддомена mgswap
RewriteCond %{HTTP_HOST} ^(www\.)?mgswap\.dpos\.space$ [NC]
RewriteCond %{REQUEST_URI} !^/mgswap/
RewriteRule ^(.*)$ mgswap/$1 [L]

#Редирект на https
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule (.*) https://%{HTTP_HOST}/$1 [L,R=301]

Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.html index.php
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REMOTE_ADDR} !^123\.456\.789\.000
RewriteCond %{DOCUMENT_ROOT}/maintenance.html -f
RewriteCond %{DOCUMENT_ROOT}/maintenance.enable -f
RewriteCond %{SCRIPT_FILENAME} !maintenance.html
RewriteRule ^.*$ /maintenance.html [R=503,L]
ErrorDocument 503 /maintenance.html
Header Set Cache-Control "max-age=0, no-store"
RewriteRule ^(.+)/$ /$1 [R=301,L]
RewriteRule ^(.+),$ /$1 [R=301,L]

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

Options +FollowSymLinks
RedirectPermanent /golos-top https://dpos.space/golos/top
RedirectPermanent /golos-donates https://dpos.space/golos/donates
RedirectPermanent /viz/buy https://dpos.space/viz/exchanges
RedirectPermanent /viz-top https://dpos.space/viz/top
RedirectPermanent /golos-polls https://dpos.space/golos/polls
RedirectPermanent /randomblockchain https://dpos.space/viz/randomblockchain
RedirectPermanent /dev https://dpos.space
RedirectMatch 301 ^/calc/(.*) https://dpos.space/$1/calc
RedirectMatch 301 ^/post/(.*) https://dpos.space/$1/post
RedirectMatch 301 ^/backup/(.*) https://dpos.space/$1/backup
RedirectMatch 301 ^/profiles/(.*)/(.*) https://dpos.space/$2/profiles/$1/
RedirectMatch 301 ^/golos/profiles/(.*)/sp https://dpos.space/golos/profiles/$1/gp
RedirectMatch 301 ^/golos/api/(.*).php https://dpos.space/golos/api/$1
RedirectMatch 301 ^/golos/api/get_uia-top https://dpos.space/golos/api/uia-top
RedirectMatch 301 ^/minter/long/survays https://dpos.space/minter/long/surveys
RewriteCond %{QUERY_STRING} chain=(.*) [NC]
RewriteCond %{QUERY_STRING} block1=(.*) [NC]
RewriteCond %{QUERY_STRING} block2=(.*) [NC]
RewriteCond %{QUERY_STRING} participants=(.*) [NC]
RewriteRule ^(.*)$ /(.*)/? [R=301,L]
</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType application/javascript "access plus 7 days"
ExpiresByType text/javascript "access plus 7 days"
ExpiresByType text/css "access plus 7 days"
ExpiresByType image/gif "access plus 7 days"
ExpiresByType image/jpeg "access plus 7 days"
ExpiresByType image/png "access plus 7 days"
</IfModule>
