<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /api/viz/
  RewriteRule ^viz/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /viz/index.html [L]

</IfModule>