/*-------------------------------------------
  -- Other
-------------------------------------------*/

/* Hero slider height */

.ts-hero-slider {
  height: 100% !important;
  div {
    height: 100% !important;
  }
}