/*-------------------------------------------
  -- Title
-------------------------------------------*/

.ts-title {
  margin-bottom: 20px;
  margin-bottom: 30px ?if media (min-width: 576px) and (max-width: 991px);
  margin-bottom: 40px ?if media (min-width: 992px);

  h5 {
    font-weight: normal;
    opacity: .5;
  }
}
